<div class="container">
    <form class="form" [formGroup]="loginForm">
        <p class="P1">This is the login component</p>
        <label for="loginid">Email:</label>
        <input id="loginid" 
                type="email" 
                formControlName="loginid" 
                placeholder="Enter your email" />
        
        <label for="password">Password:</label>
        <input id="password" 
                type="password" 
                formControlName="password" 
                placeholder="Enter your password" />
        
        <button (click)="onSubmit()">Login</button>
        <a class="signup" routerLink="/sign-up">Don't have an account? Sign Up</a>
    </form>
</div>

<!-- <div style="border: 3px solid rgb(0, 0, 0); display: flex; flex-direction: column; justify-content: center; align-items: center;"> 
<form class="from" [formGroup]="loginForm">
    <p>This is the login component  </p>
    Login Id :
    <input type="text" formControlName ="loginid"><br>
    Password : 
    <input type="password" formControlName="password"><br>  
    <button (click)="onSubmit()">Login</button>
</form>
</div>   -->

