<!-- Nav bar component -->
<nav class="navbar navbar-dark bg-dark" 
       style="height: 60px; display: 
              flex; align-items: center; 
              justify-content: 
              space-between; 
              padding: 0 20px;">

<div class="navbar-brand" 
       style="margin: -3px;">
      <a class="navbar-brand">Swarneem</a>
</div>


  <div style="flex: 1; 
              display: flex; 
              justify-content: center;">
      <input type="text" 
             *ngIf="authService.isLoggedIn()"
             placeholder="Search.." 
             class="searchbar" 
             id="search"
             style="width: 40%; 
                    padding: 5px;
                    margin-right: -175px;">
  </div>

  <ul class="nav-elements" 
      style="display: flex; 
             align-items: center; 
             gap: 15px; 
             list-style:none; 
             margin: 0;">
      <li class="nav-item">
          <a aria-current="page" routerLink="/">Home</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a routerLink="/employees">Data</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a routerLink="/register">Register</a>
      </li>

      <li class="nav-item" style="margin-left: auto;">
          <a routerLink="/login" *ngIf="!authService.isLoggedIn()" style="margin-right: 20px;">Login</a>
          <a *ngIf="authService.isLoggedIn()" (click)="logout()" class="logout" style="margin-right: 20px; 
                 color: rgb(255, 255, 255); 
                 cursor: pointer;">
                 Logout</a>
      </li>
  </ul>
</nav>



<!-- Nav bar component
<nav class="navbar navbar-dark bg-dark" style="height: 60px;">
    <div class="nav-item">
        <a class="navbar-brand" style="margin:-3px; padding-left: 15px;">Swarneem</a>
          <ul class="nav-elements" style="padding-left: 15px;">
            <li class="nav-item">
              <a aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a routerLink="/employees">Data</a>
            </li>
            <li class="nav-item">
              <a routerLink="/register">Register</a>
            </li>
            <div>
            <li class="searchbar">
              <input type="text" placeholder="Search..">
            </li>
          </div>
          <div>
            <li class="nav-item">
              <a routerLink="/login" *ngIf="!authService.isLoggedIn()" style="margin-left: 920px;">Login</a>
              <a class="logout" *ngIf="authService.isLoggedIn()" (click)="logout()" style="margin-left: 920px;">Logout</a> 
            </li> 
          </div>
          </ul>
    </div>
  </nav> -->