<nav class="navbar-container">
    <div class="nav-bar">
       <img src="apollo-hospitals-logo.png" class="logo" alt="logo" routerLink="/home"> 
    </div>

    <div class="searchbox_navbar">
        <input type="search" name="searchbox" id="searchbox" placeholder="Search hospitals">
    </div>

    <div class="button-div">
        <div class="Emergency-btn-navbar">
            <div>
                <p class="call-btn-heading">Emergency</p>
            </div>
            <div class="btn-text">
                <img class="call_icons" src="call_icon.png" alt="callicon">
                <button class="call-btn-inner-text">1066</button>
            </div>
        </div>
        
        <div>
            <div class="call-btn-navbar">
                <p class="call-btn-heading"> Apollo Lifeline
                </p>
            </div>
            <div class="btn-text">
                <img class="call_icons" src="call_icon.png" alt="callicon">
                <button class="call-btn-inner-text">1860-500-1066</button>
            </div>
        </div>
    </div>

    <div>
        <img src="logout.png" alt="logout-btn" style="height: 35px; width: 35px; margin-bottom: 12px; margin-right: -40px; cursor: pointer;"
        *ngIf="authService.isLoggedIn()" (click)="logout()">
    </div>
</nav>