<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="carousel-1.jpg" style="height: 393.33px;" class="d-block w-100" alt="Slide 1">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="carousel-1.jpg" style="height: 393.33px;" class="d-block w-100" alt="Slide 2">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="carousel-2.jpg" style="height: 393.33px;" class="d-block w-100" alt="Slide 3">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="widgets" >
  
  <div style="cursor: pointer;" routerLink="/book-appointment">
    <img class="widgets-image" style="height: 85px;" src="book-appointment-logo.png" alt="">
    Book Appointment
  </div>

  <div style="cursor: pointer;" routerLink="/manage-appointment">
    <img class="widgets-image" routerLink="/manage-appointment" style="height: 85px;" src="manage-appointments.jpg" alt=""> 
    Manage Appointment
  </div>

  <div style="cursor: pointer;" routerLink="/manage-admins">
    <img class="widgets-image" routerLink="/manage-admins" style="height: 85px;" src="manage-admin-logo.jpg" alt="">
    Manage Admin
  </div>
</div>

<div style="display: flex; background-color: #EBFBFF;">
  <div style="width: 60%; padding: 50px;">
    <div>
      <h2 style="padding: 10px;">Why Choose Apollo Healthcare?</h2>
    </div>
    <div>
      <p class="info_para">Established by Dr Prathap C Reddy in 1983,
        Apollo Healthcare has a robust presence across the healthcare ecosystem. From routine wellness & preventive
        health care to innovative life-saving treatments and diagnostic services, Apollo Hospitals has touched more than
        200 million lives from over 150 countries.</p>
    </div>

    <div style="display: flex;">
      <div>
        <div style="display: flex;">
          <div style="margin-left: 10px; height: 80px; border-left: 3px solid rgb(63, 149, 155); padding-left: 10px;">
          <img class="image_icons" src="01-Counters-Hospitals-1.jpg" alt="">
          </div>
          <div style="margin-left: 10px;">
            <p style="font-weight: 900; font-size: x-large; color: #007C9D;">73+</p>
            <p style="font-family:  sans-serif; font-size: 16px; color: #51565D;">Largest private healthcare network of Hospitals</p>
          </div>
        </div>

        <div style="display: flex;">
          <div style="margin-left: 10px; height: 80px; border-left: 3px solid rgb(63, 149, 155); padding-left: 10px;">
            <img class="image_icons" src="03-Diagnostic-centres-2.jpg" alt="">
            </div>
            <div style="margin-left: 10px;">
              <p style="font-weight: 900; font-size: x-large; color: #007C9D;">2300+</p>
              <p style="font-family:  sans-serif; font-size: 16px; color: #51565D;">Diagnostic centres across India</p>
            </div>
        </div>

        <div style="display: flex;">
          <div style="margin-left: 10px; height: 80px; border-left: 3px solid rgb(63, 149, 155); padding-left: 10px;">
            <img class="image_icons" src="06-Doctors-2.jpg" alt="">
            </div>
            <div style="margin-left: 10px;">
              <p style="font-weight: 900; font-size: x-large; color: #007C9D;">11,000+</p>
              <p style="font-family:  sans-serif; font-size: 16px; color: #51565D;">Doctors</p>
            </div>
        </div>
      </div>

      <div>
        <div style="display: flex;">
          <div style="margin-left: 10px; height: 80px; border-left: 3px solid rgb(63, 149, 155); padding-left: 10px;">
            <img class="image_icons" src="02-Counters-Clinics-2.jpg" alt="">
            </div>
            <div style="margin-left: 10px;">
              <p style="font-weight: 900; font-size: x-large; color: #007C9D;">700+</p>
              <p style="font-family:  sans-serif; font-size: 16px; color: #51565D;">Largest private network of clinics across India</p>
            </div>
        </div>

        <div style="display: flex;">
          <div style="margin-left: 10px; height: 80px; border-left: 3px solid rgb(63, 149, 155); padding-left: 10px;">
            <img class="image_icons" src="04-Pharmacies-2.jpg" alt="">
            </div>
            <div style="margin-left: 10px;">
              <p style="font-weight: 900; font-size: x-large; color: #007C9D;">+6000</p>
              <p style="font-family:  sans-serif; font-size: 16px; color: #51565D;">Pharmacies</p><br>
            </div>
        </div>
        <div style="display: flex;">
          <div style="margin-left: 10px; height: 80px; border-left: 3px solid rgb(63, 149, 155); padding-left: 10px;">
          <img class="image_icons" src="hospital-bed.jpg" alt="">
          </div>
          <div style="margin-left: 10px;">
            <p style="font-weight: 900; font-size: x-large; color: #007C9D;">+10,000</p>
            <p style="font-family:  sans-serif; font-size: 16px; color: #51565D;">Beds</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="whyimagediv">
    <img src="why-choose.jpg" style="height: 450px; width: 420px; border-radius: 5px;">
  </div>
</div>

<a id="quickbooks-widget" class="btn-quick-book-popup" routerLink="/book-appointment">Book Appointment</a>