<p>update-emp works!</p>
<div class="registration-container">
<form (ngSubmit)="updateEmployee()" #updateForm="ngForm">
    <h2>Update Employee</h2>
    <div class="formGroup">
        <label>ID:</label>
        <input type="text" 
               class="form-control" 
               id="id" name="id" 
               [(ngModel)]="employee.id" >
    </div>

    <div class="formGroup">
        <label>Name:</label>
        <input type="text" 
               class="form-control" 
               id="name" name="name" 
               [(ngModel)]="employee.name" >
    </div>
    
    <div class="formGroup">
        <label>Salary:</label>
        <input type="text" 
               class="form-control" 
               id="salary" name="salary" 
               [(ngModel)]="employee.salary" >
    </div>

    <button type="submit">Update</button>
    <!-- <button type="submit"  (click)="updateEmployee()">Update</button> -->
</form>
</div>