.container {
    padding: 20px;
    background-color: #2d2d2d;
    color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ffffff;
    margin-top: -20px;
}
  
/* .searchbar {
    width: 30%;
    padding: 5px;
    margin-right: -15px;
    border-radius: 20px;
    border: 1px solid #444;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f0f0f0;
    outline: none;
    transition: box-shadow 0.3s ease;
}
   */


.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto; 
    width: 40%; 
}

.searchbar {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border-radius: 20px;
    border: 1px solid #444;
    outline: none;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.search-icon:hover {
    opacity: 1;
}

.searchbar:focus {
    box-shadow: 0 0 10px rgba(100, 200, 255, 0.7);
}
  
.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    overflow: hidden;
    border-radius: 10px;
}
  
.table thead th {
    background-color: #444;
    color: #f0f0f0;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #555;
}
  
.table tbody tr {
    transition: background-color 0.3s ease;
}
  
.table tbody tr:nth-child(even) {
    background-color: #3a3a3a;
}
  
.table tbody tr:nth-child(odd) {
    background-color: #333;
}
  
.table tbody tr:hover {
    background-color: #555;
    cursor: pointer;
}
  
.table tbody td {
    padding: 10px;
    border-bottom: 1px solid #555;
    color: #f0f0f0;
}
  
.btn {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.btn-danger {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
}
  
  .btn-danger:hover {
    background-color: #e60000;
}
  
.btn-warning {
    background-color: #ffc107;
    color: #333;
    border: none;
}
  
.btn-warning:hover {
    background-color: #e0a800;
}
  