<div class="searchbox">
    <input type="text" 
            name="searchbox" 
            id="searchbox" 
            placeholder="Search Appointment by ID"
            [(ngModel)]="searchQuery" 
                (input)="filterAppointments(searchQuery)"
    >
</div>
<table class="appointment-table">    
    
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Weight<br>(in kgs)</th>
        <th>City</th>
        <th>Department</th>
        <th>Doctor</th>
        <th>Date<br>(YYYY-MM-DD)</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of filteredAppointments">
        <td>{{ appointment.id }}</td>
        <td>{{ appointment.patientName }}</td>
        <td>{{ appointment.patientAge }}</td>
        <td>{{ appointment.patientWeight }}</td>
        <td>{{ appointment.patientCity }}</td>
        <td>{{ appointment.department }}</td>
        <td>{{ appointment.doctor }}</td>
        <td>{{ appointment.appointmentDate }}</td>
        <td>
          <button class="edit" (click)="editAppointment(appointment.id)">Edit</button>
        </td>
        <td>
          <button class="delete" (click)="deleteAppointment(appointment)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  