<div class="login-container">
    <form (ngSubmit)="login()" #loginForm="ngForm">
        <h2 >Login</h2>
        <label for="loginid">Email:</label>
        <input id="loginid" 
                type="email" 
                name="email" 
                [(ngModel)]="email" 
                placeholder="Enter your email" 
                required />

        <label for="password">Password:</label>
        <input id="password" 
                type="password" 
                name="password" 
                [(ngModel)]="password" 
                placeholder="Enter your password" 
                required />

        <button type="submit" >Login</button>
    </form>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div>
